* {
  padding: 0;
  margin: 0;
}

#main {
  overflow: auto;
  text-align: center;
}

li a {
  text-decoration: none;
  display: inline-block;
  height: 40px;
  width: 100px;
  color: rgb(12, 98, 196);
  background-color: #7abcca3c;
  line-height: 40px;
}

footer {
  text-decoration: none;
  text-align: center;
  background-color: rgb(216, 239, 211);
}

li a:hover {
  background-color: rgb(158, 217, 222);
}

ul {
  list-style: none;
}

#list {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}

#list>li {
  float: left;
}

#list>li:hover ul {
  display: block;
}

#list>li>ul {
  display: none;
  position: absolute;
}



