/* 注意事项：表格用在展示数据上，而不要用在网页布局上，因为用到了三个标签，而div只需要一个 */
.pee {
  border: 25px ridge #b4d2f1;
  /* css里的设置会覆盖属性border，5px覆盖了1 */
  border-collapse: collapse;
  /* 不设置默认为separate，也就是有空隙 */
  /* 摧毁掉border更接近于Excel的样子 */;
  width: 20%;
  background-color: rgb(243, 183, 243);
  color: brown;
  text-align: center;
  /* 不是指整张表格的水平居中，是指text。 */
  /* center=水平居中。可用的值还有left和right。caption和th默认center, td默认left。看上去不居中是因为设置了奇怪的padding，可再加一条覆盖掉，或直接注释掉 */
  vertical-align: middle;
  /* middle=垂直居中。可用的值还有top和bottom，baseline。默认居中。 */
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  /* 设置right就阻止了表格右边框跟文字吸住；设置left就阻止了表格左边框也页面边界吸住 */

  /* float: right; */
  /* inline-end和right的区别，你的网站布局是ltr(left-to-right)，也有rtl的国家的，inline-end一定会出现在结束那侧，但不一定是右侧 */

  /* margin-right: auto;
  margin-left: auto; */
  /* 设置这两个auto就能让表格居中，不设置默认是左对齐 */
}

th, td {
  border: 2px solid rgb(198, 101, 117);
  /* padding: 10px 20px 30px 5px; */
  padding: 10px;
  /* 不设置默认为一圈1 */
  width: 1%;
  /* 这个width不能超过table的width。width也可在th属性内设置 */
  background-color: rgb(206, 235, 199);
  /* 不会影响到没画表格的部分 */
  color: grey;
  /* 会覆盖table里设置的th和td的内容颜色，不属于th和td的部分就还是brown */
}

/* 要放image，就不能设置 border-collapse: collapse; */
.stretch {
  width: 5%;
  border: 28px ridge rgb(192, 183, 183);
  /* border简写最多能设置3个：宽度 风格 颜色
  还可以单独写一个border-image*/
  border-image: url(../source/img/diamond.png) 27 / 36px 36px 36px 36px / 18px 14px 9px 4px stretch;
  /* 默认就是stretch */
  /* 写法很特殊，用了斜杠和空格:
  source / slice / width / outset repeat */
  /* width只写一个36px也行 */
  margin: 20px;
  padding: 5px;
}

.round {
  width: 5%;
  border: 28px ridge rgb(192, 183, 183);
  /* border简写最多能设置3个：宽度 风格 颜色
  还可以单独写一个border-image*/
  border-image: url(../source/img/diamond.png) 27 / 36px 36px 36px 36px / 18px 14px 9px 4px round;
  margin: 20px;
  padding: 5px;
}

.space {
  width: 5%;
  border: 28px ridge rgb(192, 183, 183);
  border-image: url(../source/img/diamond.png) 27 / 36px 36px 36px 36px / 18px 14px 9px 4px space;
  margin: 20px;
  padding: 5px;
}

.repeat {
  width: 5%;
  border: 28px ridge rgb(192, 183, 183);
  border-image: url(../source/img/diamond.png) 27 / 36px 36px 36px 36px / 18px 14px 9px 4px repeat;
  margin: 20px;
  padding: 5px;
}

/* 怎么让表格并排显示？用div包起来设置display: flex */
/* 包不下四张表的情况：会自动生成滑动条 */
div.bordertest {
  display: flex;
  align-items: flex-start; /* 暂未发现跟end的区别 */
  justify-content: space-around; /* 不设置第4张表会显示不全 */
  margin: 20px 30px 0px 30px; /* 不设置上右下左会吸太牢 */
}

.align {
  width: 70%;
  padding: 10px; /* 不设置padding会导致上面的diary跟表格外边框吸太牢了，但设置了 border-collapse: collapse;的话padding就失效了 */
  border-image: url(../source/img/leaf_text.png) 36 / 36px / 18px round;
  /* 图片失效原因不明 */
  margin-left: auto;
  margin-right: auto;
}

img {

}
#left-top, #left-middle, #left-bottom {
  text-align: left;
}
#center-top, #center-middle, #center-bottom {
  text-align: center;
}
#right-top, #right-middle, #right-bottom {
  text-align: right;
}

#left-top, #center-top, #right-top {
  vertical-align: top;
}
#left-middle, #center-middle, #right-middle {
  vertical-align: middle;
}
#left-bottom, #center-bottom, #right-bottom {
  vertical-align: bottom;
}

.rowa {
  text-align: center;
}

div.test {

}

/* 暂时解决不了的问题：
1. 怎么在css设置不同表格的th和td，选择器要怎么写才能把它们分开？又共用一部分？
2. 造成vertical-align没用的原因？
3. border图片预览正常，浏览器看不见的原因？
√4. rowa文本不居中的原因→ class="rowa"放错地方了，要放在top那列，而不是left那行。
5. 用colgroup和col批量处理？
6. id选择器重合部分如何公用同一个rule？*/
