* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: block;
  border-bottom: 1px solid #c0c0c0;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-left: 2%;
  padding-bottom: 0.5%;
  font-size: 1.2rem;
}
nav ul, nav li {display: inline;}
nav a:link {color: #333; text-decoration: none;}
nav a:visited {color: #333;}
nav a:hover {color: #999;}

h1 {
  margin-left: 5rem;
  margin-bottom: 1rem;
}
p {
  margin-left: 6rem;
  margin-bottom: 1rem;
}
main ol {
  margin-left: 7rem;
  line-height: 2rem;
}